<div class="card">
    <div class="inner-card">
        <p class="align-center roboto-—-34pt-bold">Let&apos;s Start</p>
        <p class="align-center roboto--regular">Fill out the form and we&apos;ll get in touch to<br>get your
            trial set up.</p>

        <form>
            <div class="form-group">
                <label class="roboto--regular-bold" for="">Do you want to make ads that convert?</label>
                <div class="form-control">
                    <div class="radio-item"><input checked type="radio" name="ads" value="Yes" id="yes"><label
                            for="yes">Yes</label></div>
                    <div class="radio-item"><input type="radio" name="ads" value="No" id="no"><label for="no">No</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="roboto--regular-bold" for="">What&apos;s is your monthly ad budget?</label>
                <div class="form-control">
                    <select name="monthly" id="">
                        <option value="">Select One:</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button routerLink="/trial" type="button">GET STARTED</button>
            </div>
        </form>
    </div>
</div>